body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.add-area,
.list-area {
  margin-top: 4rem;
}

.add-area__form input {
  height: 30px;
  padding: 0 8px;
}

.add-area__form button {
  display: block;
  margin-top: 10px;
  height: 34px;
  padding: 0 32px;
  font-weight: bold;
}

.add-area__form button:hover {
  cursor: pointer;
}

.list-area__table {
  width: 100%;
  text-align: left;
  background-color: lightgray;
  border-radius: 3px;
}

.list-area__table th,
.list-area__table td {
  padding: 12px;
}

.list-area__table tbody tr:nth-child(odd) {
  background: #fcfcfc;
}
.list-area__table tbody tr:nth-child(even) {
  background: #dcdcdc;
}

.list-area__empty-row {
  color: gray;
  font-style: italic;
  text-align: center;
}