.over-budget #totalCost {
  color: darkred;
  font-weight: bold;
}

.over-budget #totalCost:after {
  content: " (over budget)";
  font-style: italic;
  font-size: small;
  font-weight: normal;
}

/* Keep table header spacing from jumping by setting equal widths */
.table th {
  width: 16.666%;
}