body {
  background-color:beige !important;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.over-budget #totalCost {
  color: darkred;
  font-weight: bold;
}

.over-budget #totalCost:after {
  content: " (over budget)";
  font-style: italic;
  font-size: small;
  font-weight: normal;
}

/* Keep table header spacing from jumping by setting equal widths */
.table th {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  width: 16.666%;
}

.table tbody td {
  line-height: 2;
}

.add-employee-form input {
  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  width: 100%;
  text-align: right;
}